
<div class="row text-center back_pic2 profile_font sign_in_wrapper">
<h2>Update your profile <%= current_user.email %> </h2> 
<%= render 'form' %>

<a rel="nofollow" data-method="delete" href="/profiles/<%= current_user.id %>"> <button type="button" class= "btn btn-labeled btn-danger"> <span class="btn-label"><i class="fa fa-trash-o"></i></span>Delete Profile</button> </a>

<!-- <%= link_to "Delete Profile", profile_path(@profile), method: :delete %>
<button type="button" class="btn btn-labeled btn-danger">
  <span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>Delete Profile</button> -->
</div>


