
<div class="row text-center back_pic2 profile_font sign_in_wrapper">
<h2>Update your profile <%= current_user.email %> </h2> 
<%= render 'form' %>

<%= link_to "Delete Profile", profile_path(@profile), method: :delete %>
</div>
