<h1> These are your matches <%= current_user.profile.first_name.capitalize %> </h1>


<% @profiles.each do | profile | %>
	
	<%= profile.name %> <%=link_to "Message", new_message_path %> 
	 <br>

	<% end %>
