.profile_pic_dashboard {
	height:300px;
	width:300px;
	border-style:dashed;
	border-color:black;
}
.info_dashboard {
	height:300px;
	border-style:dashed;
	border-color:black;
}

.chat_icon {
	border-style:dashed;
	border-color:black;
	border-size: 1px;
	height:500px;
	
}
.match_icon{
	border-style:dashed;
	border-color:black;
	height:500px;
	
}

.spttr_icon{
	border-style:dashed;
	border-color:black;
	height:500px;
	
}

.spttr_icon img {
	height:128px;
	width:128px;
}


