<h1> Spottr Dashboard <%= current_user.profile.first_name.capitalize %> </h1>



<%= link_to "Edit Profile", edit_profile_path(current_user) %>
<%= link_to "See Matches", matches_index_path(current_user) %>