


<!-- ==========navigation bar============ -->



<!-- ===========video/picture ============ -->
			<div class="container-fluid">
				<div class= "row picture">
				
					<img class="banner" alt="banner" src="/assets/vintage-weights.jpg">
				</div>
<!-- ===========About/Why/Consistency========== -->
				<div class= "row picture1">
					<img class="about" alt="about" src="/assets/backgroundpic.jpg">
						<div class="col-sm-4">
							
						</div>
						<div class="col-sm-4">
							
						</div>
						<div class="col-sm-4">
							
						</div>
				</div>

			</div>


			
			
			









