// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#messageContainer{
    position: absolute;
    width: 25%;
    height: 500px;
    background-color: white;
    bottom:-130% ;
    left:0;
    border: 2px solid black;
    box-shadow: 5px 5px 5px 5px;
    border-radius: 5px;
     -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 0.75s;
   transition: width 2s, height 2s, background-color 2s, transform 0.75s;
}
#messageContainer.slide{
    transform:translateY(-155%)
}

.banner { 

    // position:absolute;
    // position:relative;
    // top:0;
    width: 100%;
    // height: 100%;
    // top:0;
    
}
.web_logo{
   position: absolute;
   top:7px;
    height: 160px;
    right: 45%;
}





.row_picture1{
    height:100vh;
    
    background-image: url("/assets/backgroundpic.jpg");
    

}
.font1{
    font-family: 'Merriweather', serif;
        color:#F5D04C;
        vertical-align: middle;
        padding-top: 15%;
        font-size: 30px;
}
.text_color{
    color:white;
    background:rgba(0,0,0,0.8);
}


body {
    
    padding-left: 50px;
}
.navbar-twitch {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 100%;
    border-radius: 0px;
    border: 0px;
    z-index: 1030;
    
}
.navbar-twitch.open {
    width: 240px;
}
.navbar-twitch > .container {
    padding: 0px;
    width: 100%;
}
.navbar-twitch .navbar-header,
.navbar-twitch .navbar-brand {
    float: none;
    display: block;
    width: 100%;
    margin: 0px;
}
.navbar-twitch .navbar-brand {
    height: 50px;   
}
.navbar-twitch > .container .navbar-brand {
    padding: 0px;
    margin: 0px;
}
.navbar-twitch > .container .navbar-brand > .small-nav {
    display: block;
}
.navbar-twitch > .container .navbar-brand > .small-nav > span.logo, 
.navbar-twitch.open > .container .navbar-brand > .full-nav {
    display: block;
    font-weight: bold;
    padding: 15px 2px 15px 3px;
    font-size: 18pt;
}
.navbar-twitch.open > .container .navbar-brand {
    width: 100%;
    padding: 15px 15px 60px;
    text-align: center;
}
.navbar-twitch.navbar-inverse > .container .navbar-brand > .small-nav > span.logo {
    /*color: rgb(255, 255, 255);*/
}
.navbar-twitch .navbar-nav > li {
    float: none;
}
.navbar-twitch > .container .full-nav {
    display: none;
}
.navbar-twitch.open > .container .full-nav {
    display: block;
}
.navbar-twitch.open > .container .small-nav {
    display: none;
}
.navbar-twitch .navbar-collapse {
    padding: 0px;
}
.navbar-twitch .navbar-nav {
    float: none;
    margin: 0px;
}
.navbar-twitch .navbar-nav > li > a {
    padding: 0px;
}
.navbar-twitch .navbar-nav > li > a > span {
    display: block;
    font-size: 16pt;
    padding: 13px 15px 13px 12px;
}
.navbar-twitch .tooltip,
.navbar-twitch .tooltip .tooltip-inner {
    max-width: auto;
    white-space:nowrap;
}
.navbar-twitch-toggle {
    
    top: 5px;
    left: 55px;
}
.navbar-twitch ~ .navbar-twitch-toggle > .nav-open {
    display: inline-block;
}
.navbar-twitch ~ .navbar-twitch-toggle > .nav-close {
    display: none;
}
.navbar-twitch.open ~ .navbar-twitch-toggle {
    left: 245px;
}
.navbar-twitch.open ~ .navbar-twitch-toggle > .nav-open {
    display: none;
}
.navbar-twitch.open ~ .navbar-twitch-toggle > .nav-close {
    display: inline-block;
}


